*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.dark-mode {
    background-color: rgb(31 41 55);
    color: orange;
}

body.dark-mode {
    background-color: rgb(31, 41, 55);
    color: #ffffff;
}

.dark-mode .section1{
    background: rgb(17 24 39);
    color: #fff;
}

.dark-mode  .card23 , footer {
    background-color: orange;
}
.
.dark-mode header,
.dark-mode .card24,
.dark-mode #main1 {
    background-color: rgb(31, 41, 55);



}


.dark-mode .dark-mode a,
.dark-mode h2,
.dark-mode h3,
.dark-mode h5,
.dark-mode p,
.dark-mode span,
.dark-mode button {
    color: #ffffff;
}


.dark-mode  h5 a {
    color: red !important;
}

@media only screen and (min-width: 768px) {
    .dark-mode {
        background-color: rgb(31 41 55);
        color: orange;
    }

    body.dark-mode {
        background-color: rgb(31, 41, 55);
        color: #ffffff;
    }

    .dark-mode .section1{
        background: rgb(17 24 39);
        color: #fff;
    }

    .dark-mode .card23  {
        background-color: orange;
    }
    .dark-mode .card24  {
        background-color: orange;
    }

    .dark-mode footer {
        background-color: orange;
    }

    .dark-mode header,
    .dark-mode .card24,
    .dark-mode #main1 {
        background-color: rgb(31, 41, 55);



    }


    .dark-mode .dark-mode a,
    .dark-mode h2,
    .dark-mode h3,
    .dark-mode h5,
    .dark-mode p,
    .dark-mode span,
    .dark-mode button {
        color: #ffffff;
    }

    .dark-mode .desc h3 a,
    .dark-mode .desc h5 a {
        color: orange !important;
    }

    .dark-mode  h5 a {
        color: red !important;
    }

 
}